<div class="container">
    <h3>Project 1: Little Joy</h3>
<p>
    <img id="row" src="assets\PROJECT 1\p1.jpg" alt="">
    <img id="row" src="assets\PROJECT 1\p1.2.jpg" alt="">
    Bringing Happiness to Hearts 

We are thrilled to share the heartwarming journey of our completed project, Little Joy. During our visit to Prerna Vishash Ashaway Vidyalaya in Chaibasa, we had the privilege of connecting with 21 incredible disabled children, aged between 10 and 18 years old, who call this school their home.

As we observed their daily lives, we noticed a range of emotions reflected in their eyes - some adorned in excessive clothing, others lacking proper attire. Dark circles and hesitant gazes revealed the challenges they faced. Yet, their faces lit up with pure joy upon our arrival.

When we asked them what they needed, a mute child named Ganesh, through expressive gestures, indicated his desire for new clothes, art supplies, and nourishing food. It became evident that what they longed for was not mere material possessions but a touch of happiness in their lives.

Inspired by their genuine spirit, we initiated P
</p>


<h3>Project 2: Lending Hands</h3>
<p>
    <img id="row" src="assets\PROJECT 2\P2.1.jpg" alt="">
    <img id="row" src="assets\PROJECT 2\P2.jpg" alt="">
Extending Support to a Needy Family 🤝

We are thrilled to announce the success of Project Lending Hands on 16th July 2022, where we had the privilege of helping a nuclear family from Manoharpur Block that had tragically lost their parents. Lindia Hembrom, the eldest sibling, has been shouldering the responsibility of caring for her younger brothers and sister.

However, a sudden illness struck Lindia last month, requiring her to be hospitalized. Witnessing this distressing situation, their compassionate neighbors stepped in, providing food and support. 

To further assist the family, we utilized the funds generously donated by you, providing essential groceries and a protective tirpal for their damaged roof.

On behalf of the family, we extend our heartfelt gratitude for your kind contribution. Your support brought much-needed relief and comfort to this deserving family during their time of need.

Thank you for being a part of Project Lending Hands and for making a tangible difference in the lives of those facing adversity.
</p>

<h3>Project 3: Happy Dreams</h3>
<p>
    <img id="row" src="assets\PROJECT 3\P3.jpg" alt="">
    <img id="row" src="assets\PROJECT 3\P3.1.jpg" alt="">
    Spreading Joy and Comfort
    
    With immense gratitude, we are delighted to share the successful completion of our third project, Happy Dreams. On 20th july 2022, we distributed bedsheets, clothes, and packed food to the disabled children of Prerna Vishash Ashaway Vidyalaya, near Kasturba Gandhi school in Chaibasa.
    
    Our hearts overflowed with joy as we witnessed the children's faces light up with happiness upon receiving these simple yet meaningful gifts. The atmosphere was filled with warmth and camaraderie as we shared moments of laughter and connection.
    
    We extend our heartfelt appreciation to all those who joined us in this endeavor, spreading love and making a tangible difference in the lives of these remarkable children. Your support and presence were invaluable in making Happy Dreams a resounding success.
    
    Thank you for being a part of this journey and for sharing in the joy of bringing comfort and happiness to these deserving children. 
    
    Together, we have made their dreams a little brighter.
</p>

<h3>Project 4: Introducing Healing Wounds</h3>
<p>
    <img id="row" src="assets\PROJECT 4\P4.jpg" alt="">
    <img id="row" src="assets\PROJECT 4\P4.1.jpg" alt=""> 
    A Tale of Compassionate Care 🐮✨
    
    We are overjoyed to share the successful completion of our fourth project, Healing Wounds on 20th August, 2022. It is with deep gratitude that we recount the inspiring story of a cow in need and the remarkable healing journey it experienced.
    
    This gentle creature had unfortunately fallen victim to maggots in its wounds. However, under the expert care of Dr. Gokhle Jee, the cow made a remarkable recovery within a week. Dr. Gokhle Jee selflessly provided treatment and medication without any cost, showcasing the true spirit of compassion and expertise.
    
    We are immensely grateful for the selfless service rendered by Dr. Gokhle Jee, whose dedication and skill brought healing and relief to this beloved animal. This act of kindness reminds us of the incredible impact that individuals within our community can make by sharing their skills and services.
</p>

<h3>Project 5: Essential Goods</h3>
<p>
    <img id="row" src="assets\PROJECT 5\P5.jpg" alt="">
    <img id="row" src="assets\PROJECT 5\P5.1.jpg" alt="">
    Extending Support in Times of Need 🤝✨
    
    25th August 2022, we had the privilege of lending a helping hand to Dharvind's mother during her challenging time.
    
    Following the loss of her husband, Dharvind's mother found herself admitted to the hospital, battling emotional and physical turmoil. With the unwavering support of the Interconnected team and the assistance of Neha Ji, we were able to provide her with essential goods, offering comfort and solace during this difficult period.
    
    Our heartfelt wishes go out to Dharvind's mother for a speedy recovery and the strength to embrace life's challenges with courage and resilience. We extend our sincere gratitude to each and every soul involved in this group for their invaluable support and compassion.  
</p>

<h3>Project 6: Introducing Little Hearts</h3>
<p>
    <img id="row" src="assets\PROJECT 6\p6.jpg" alt="">
    <img id="row" src="assets\PROJECT 6\p6.1.jpg" alt="">
    Spreading Love and Joy ❤✨
    
    With immense joy, we announce the successful completion of our sixth project, Little Hearts on 28th August 2022. 
    
    We distributed refreshments, cakes, and packed foods to the disabled children of Vishash Ashaway Vidyalaya, near Kasturba Gandhi School in Chaibasa. 
    
    We extend our heartfelt gratitude to everyone who played a vital role in making this project a resounding success.
    
    Little Hearts was a testament to the power of collective compassion and generosity. Together, we embarked on a mission to spread love and joy to those who needed it most. Through heartfelt gestures, we touched the lives of individuals and communities, reminding them that they are not alone.  
</p>

<h3>Project 7. Introducing Sharing Meal</h3>
<p>
    <img id="row" src="assets\PROJECT 7\P7.jpg" alt="">
    Nourishing Bodies and Hearts 🍲✨
    
    We are delighted to share the successful completion of our seventh project, Sharing Meal on 4th September 2022. With the InterConnected Team, we were able to provide three weeks' worth of ration to the needy children of Gutusai Village in Chaibasa.
    
    The essence of Sharing Meal lies in the act of nourishing both bodies and hearts. Our collective effort ensured that these deserving children had access to wholesome meals, promoting their well-being and alleviating their immediate food insecurities.
    
    We extend our deepest gratitude to every soul involved in this project, for your dedication, compassion, and unwavering commitment to making a difference. 
    
    Your selfless contributions have touched the lives of these children, bringing hope and relief during challenging times.   
</p>

<h3>Project 8: Introducing Lightning Up the World</h3>
<p>
    <img id="row" src="assets\PROJECT 8\P8.jpg" alt="">
    <img id="row" src="assets\PROJECT 8\P8.1.jpg" alt="">
    Illuminating Lives with Love and Support 💡✨

We are thrilled to announce the successful completion of our eighth project, Lightning Up the World. On 15th September 2022, We had the privilege of distributing essential goods to children and mothers in Gutusai Village, Chaibasa.

The essence of Lightning Up the World lies in our collective effort to bring brightness and hope to those who need it most. Through the distribution of essential goods, we aimed to alleviate the burdens faced by these families and provide them with much-needed support.

We extend our heartfelt gratitude to every soul involved in this project, for your unwavering dedication, generosity, and compassion.   
</p>

<h3>Project 9: Food in Need</h3>
<p>
    <img id="row" src="assets\PROJECT 9\P9.jpg" alt="">
    <img id="row" src="assets\PROJECT 9\P9.1.jpg" alt="">
    Nourishing Lives with Care and Compassion 🍲✨
    
    We are delighted to share the successful completion of our ninth project, Food in Need. On 9th October 2022, We were able to provide rations and groceries to the orphan brothers in Manoharpur Village.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering dedication and selfless contributions.   
</p>

<h3>Project 10:  Diwali Ki Shubhkamnayein</h3>
<p>
    <img id="row" src="assets\PROJECT 10\P10.jpg" alt="">
    <img id="row" src="assets\PROJECT 10\P10.1.jpg" alt="">
    Spreading Festive Joy and Blessings 🪔✨
    
    We are thrilled to announce the successful completion of our tenth project, Diwali Ki Shubhkamnayein. On 20th October 2022, with the help of InterConnected Team and assistance of Neha Ji, we had the privilege of distributing sweets, snacks, bulbs, and clothes to children and mothers in Gutusai Village, Chaibasa.
    
    Diwali Ki Shubhkamnayein symbolizes the spirit of the festival of lights, where we come together to spread joy, happiness, and blessings. 
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support, generosity, and dedication. 
    
    Your contributions have brought smiles to the faces of these children and mothers, reminding them that they are cherished and remembered during this special time.  
</p>

<h3>Project 11: Spread the Warmth</h3>
<p>
    <img id="row" src="assets\PROJECT 11\P11.jpg" alt="">
    <img id="row" src="assets\PROJECT 11\P11.1.jpg" alt="">
    Embracing Winter with Love and Care ❄🧣
    
    We are thrilled to announce the successful completion of our 11th project, Spread the Warmth. On 8th November 2022, with the unwavering support of the dedicated InterConnected Team and friends, we extended a helping hand to approximately 35 children and mothers in Turi Tola, Chaibasa, ensuring they are protected from the winter chill.
    
    During this heartfelt endeavor, we distributed a range of essential items including fruits, snacks, woolen clothes, sweaters, and blankets. These offerings not only provided physical warmth but also conveyed a message of love, care, and compassion to those in need.
    
    We extend our heartfelt gratitude to every soul involved in this project for their selflessness and dedication. Your generous contributions and time have played a vital role in making this initiative a resounding success.
    
    Thank you for being part of this compassionate journey of making a difference in the lives of others!🙌🙌  
</p>

<h3>Project 12: Introducing Spread the Warmth 2.0</h3>
<p>
    <img id="row" src="assets\PROJECT 12\P12.jpg" alt="">
    <img id="row" src="assets\PROJECT 12\P12.1.jpg" alt="">
    Embracing Winter with Love and Care ❄✨
    
    We are thrilled to announce the successful completion of our twelfth project, Spread the Warmth 2.0. On 12th December 2022, with the help of the dedicated InterConnected Team, we had the privilege of spreading joy and warmth to those in need.
    
    Our efforts focused on two key areas: Firstly, we distributed fruits and clothes to the primary school children of Dumbisai, ensuring they stay nourished and protected during the winter season. Additionally, we provided sweaters, dresses, and clothes to the men and women at Birua Nagar, Chaibasa, offering them warmth and comfort.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions. Your generosity has made a significant difference in the lives of these individuals, bringing smiles and a sense of comfort during the chilly winter days.   
</p>

<h3> Project 13th: Gift Giving </h3>
<p>
    <img id="row" src="assets\PROJECT 13\P13.jpg" alt="">
    <img id="row" src="assets\PROJECT 13\P13.1.jpg" alt="">
    Spreading Joy and Warmth 🎁✨
    
    We are delighted to announce the successful completion of our thirteenth project, Gift Giving. On 20th December 2022, in collaboration with the Food For Hunger group of Pranic Healing, Chaibasa, we had the privilege of distributing blankets, fruits, snacks, drawing copies, colors, and sleepers at the Government School, Dumbisai.
    
    Gift Giving was a heartfelt initiative aimed at bringing joy and warmth to the lives of these deserving children. Their smiles and dances of joy upon receiving the gift hampers were a testament to the impact we made.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions. Your kindness has touched the lives of these children, making a difference that they will cherish.
    
    🤝Keep loving, keep supporting!   
</p>

<h3>Project 14: Introducing Spreading Love</h3>
<p>
    <img id="row" src="assets\PROJECT 14\P14.jpg" alt="">
    <img id="row" src="assets\PROJECT 14\P14.1.jpg" alt="">
    Nurturing Hearts and Inspiring Minds 💛✨
    
    We are thrilled to announce the successful completion of our fourteenth project, Spreading Love. On 4th January 2022, with the support of the dedicated InterConnected Team, friends, neighbors, Sheetal Aunty, and Tarun Ji, we had the privilege of distributing food, snacks, and clothes to children and mothers in Tungri near Tara Mandir, Chaibasa.
    
    Spreading Love went beyond the act of providing essential resources; it was about nurturing hearts and inspiring minds. We took the opportunity to educate and motivate the children, emphasizing the importance of education as beautifully expressed by Dr. APJ Abdul Kalam.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions. Your kindness has left a lasting impact on these children and mothers, reminding them that they are cared for and supported.
    
    🤝Keep loving, keep supporting!   
</p>

<h3>Project 15: United Indians</h3>
<p>
    <img id="row" src="assets\PROJECT 15\P15.jpg" alt="">
    <img id="row" src="assets\PROJECT 15\P15.1.jpg" alt="">
Celebrating Unity and Patriotism 🇮🇳✨

We are elated to announce the successful completion of our fifteenth project, United Indians. On the occasion of Republic Day, with the support of the InterConnected Team and friends, we had the privilege of distributing flags and food to the children of the Primary School in Dumbisai, Chaibasa.

United Indians was a celebration of unity and patriotism, aimed at instilling a sense of pride and love for our nation. The children received flags as a symbol of unity and enjoyed a nourishing meal, fostering a sense of camaraderie and togetherness.

We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions. Your generosity has made a profound impact on the lives of these children, creating lasting memories and nurturing their connection to our great nation.

🤝Keep loving, keep supporting!
</p>

<h3>Project16: PROJECT VIDYA (Part-1)</h3>
<p>
    <img id="row" src="assets\PROJECT 16\P16.jpg" alt="">
    <img id="row" src="assets\PROJECT 16\P16.1.jpg" alt="">
    Illuminating Minds and Nurturing Growth 📚📖✨
    
    We are delighted to announce the successful completion of Part-1 of our year-long project, PROJECT VIDYA. In collaboration with various Government Schools. On 10th March 2023, with the support of the dedicated InterConnected Team and friends, we marked a significant milestone in this transformative initiative.
    
    Children immersed themselves in a day filled with learning, joy, and creativity. They eagerly listened to engaging stories, discovered the power of the "Anapana" breathing technique, and indulged in the joy of crafting. The session culminated with the distribution of nutritious almonds, raisins, fruits, and essential stationery items.
    
    Witnessing the happiness and serenity reflected in their faces, we were reminded of the meaningful impact we made in their lives. We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions.
    
    Thank you for bringing light, love, and joy into the lives of these children. Together, we continue to nurture their minds, fostering growth, and empowering them with knowledge.
    
    🙏 Keep spreading the light of education and love!
</p>

<h3>Project 17: Raising Consciousness (Part-1)</h3>
<p>
    <img id="row" src="assets\PROJECT 17\P17.jpg" alt="">
    <img id="row" src="assets\PROJECT 17\P17.1.jpg" alt="">
    Nurturing Hearts and Expanding Awareness 📚📖✨
    
    We are thrilled to announce the successful completion of Part-1 of our year-long project, Raising Consciousness. This transformative initiative carried out in different phases, aims to elevate awareness and foster a deeper connection with oneself and the world. On 21st March 2023, with the support of the dedicated InterConnected Team and friends, we marked an important milestone on this enlightening journey.
    
    Mothers and children delighted in an enriching session filled with captivating stories and the exploration of the "Anapana" breathing technique. Their enthusiasm was palpable as they absorbed the knowledge and embraced the experience. The session concluded with the distribution of revitalizing juice, nourishing raisins, comforting honey, and wholesome Horlicks.
    
    Observing the participants after the session, we witnessed a remarkable transformation. They radiated a sense of relaxation, tranquility, and profound joy. We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions.
    
    Thank you for bringing light, love, and joy into their lives. Together, we continue to nurture their hearts and expand their consciousness, fostering personal growth and inner harmony.
    
    🙏 Keep spreading the light of awareness and love!    
</p>

<h3>Project18: Lifestyle for Environment (Part-1)</h3>
<p>
    <img id="row" src="assets\PROJECT 18\P18.jpg" alt="">
    <img id="row" src="assets\PROJECT 18\P18.1.jpg" alt="">
    Nurturing Nature for a Sustainable Future 🌿🌳✨
    
    We are thrilled to announce the successful completion of Part-1 of our project, Lifestyle for Environment. On 29th March 2023, with the support of the dedicated InterConnected Team and friends, we embarked on a mission to plant 11 trees within the Bihari Club Boundary, enriching the surrounding environment with the beauty and benefits of nature.
    
    The selection of tree species, including Largestomia, Neem, Chalim, Tecoma, and Peltophorum, was carefully chosen to contribute to the biodiversity and overall sustainability of the area. Each tree represents a powerful symbol of growth, resilience, and our commitment to preserving the environment.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions. Your dedication to nurturing nature and creating a sustainable future is truly commendable.
    
    🙏 Keep embracing a lifestyle that cherishes and protects our environment!   
</p>

<h3>Project 19: Vidya (Part -2)</h3>
<p>
    <img id="row" src="assets\PROJECT 19\P19.jpg" alt="">
    Empowering Education, One Student at a Time 📚📖✨
    
    We are delighted to announce the successful completion of our 19th project, Vidya, which has brought joy and relief to a student named Abhay. Within a remarkable span of 16 hours, we rallied together and raised funds totaling Rs 10,000, ensuring that Abhay could pay his year-long fees and secure the opportunity to sit for his exams on 5th April 2023. 
    
    The outpouring of donations was nothing short of miraculous, as contributions came in from various sources and in unexpected ways. We extend our heartfelt gratitude to every soul involved in this project, from the kind-hearted individuals who made their generous contributions to those who played a role in spreading the word.
    
    Thank you for stepping forward and making a remarkable difference in this child's educational journey. Your support has granted Abhay the chance to pursue his dreams, unburdened by financial hurdles.
    
    Together, we continue to empower education, one student at a time, and create a brighter future for the next generation.
    
    🙌 Thank you for being a beacon of hope and opportunity in Abhay's life.   
</p>

<h3>Project 20:  Raising Consciousness (Part-2)</h3>
<p>
    <img id="row" src="assets\PROJECT 20\P20.jpg" alt="">
    <img id="row" src="assets\PROJECT 20\P20.1.jpg" alt="">
    Cultivating Inner Peace and Unity 📚📖✨
    
    We are delighted to announce the successful completion of Part-2 of our Raising Consciousness project. On 3rd April, with the support of the dedicated InterConnected Team and friends, we took another significant step in nurturing the minds and spirits of those involved.
    
    In this phase, we gifted them with speakers to facilitate group meditation practice. With immense gratitude, we are thrilled to share that they have embraced this practice wholeheartedly, engaging in daily meditation sessions. The transformative power of meditation has gifted them with moments of deep relaxation, tranquility, and profound joy.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions. Together, we continue to cultivate a culture of mindfulness and self-discovery, empowering individuals to embark on a journey of inner transformation. 
    
    🙏 Keep nurturing inner peace and spreading the light of love!   
</p>

<h3>Project 21: Project Vidya</h3>
<p>
    <img id="row" src="assets\PROJECT 21\P21.jpg" alt="">
    <img id="row" src="assets\PROJECT 21\P21.1.jpg" alt="">
    Empowering Education and Protection from the Elements ☂✨
    
    We are delighted to announce the successful completion of our latest initiative under Project Vidya. As part of this ongoing program, umbrellas were distributed among the hardworking women of Gutusai Village, serving as an incentive to encourage their participation in adult education and reward their commitment to regular meditation practices on 15th April 2023.
    
    By providing umbrellas, we aimed to protect these women from the scorching heat of Chaibasa, ensuring their well-being while they pursue their educational and personal growth journeys. Through this project, InterConnected proudly marks the completion of 21 impactful initiatives, each making a positive difference in the lives of those we serve.
    
    We extend our heartfelt gratitude to every soul involved in this project, from the dedicated InterConnected team to our generous supporters. 🙌   
</p>

<h3>Project 22: Prasad Distribution on Parshuram Jayanti</h3>
<p>
    <img id="row" src="assets\PROJECT 22\P22.jpg" alt="">
    <img id="row" src="assets\PROJECT 22\P22.1.jpg" alt="">
    Spreading Love and Devotion 🙏✨
    
    We are delighted to announce the successful completion of our 22nd project, Prasad Distribution on Parshuram Jayanti. On the auspicious occasion, with the blessings of God, we provided raw materials for the preparation of Prasad to the residents of Gutusai Village, who celebrated the festival with utmost joy and devotion.
    
    Religion, at its core, is a manifestation of love and the ability to serve others with love and kindness. Through this project, we had the privilege of serving Prasad to approximately 350 people, nurturing their spiritual connection and deepening their devotion.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions shown on 22nd April 2023. 
    
    🙌🙌 May God's blessings be with us all!
</p>

<h3> Project 23: Raising Consciousness</h3>
<p>
    <img id="row" src="assets\PROJECT 23\P23.jpg" alt="">
    <img id="row" src="assets\PROJECT 23\P23.1.jpg" alt="">
    Nurturing Inner Peace and Wisdom 🧘‍♀🧘‍♂✨
    
    We are thrilled to announce the successful completion of our 23rd project, Raising Consciousness, which took place on the 22nd of May 2023. In collaboration with the esteemed Nayab NGO, we had the privilege of teaching meditation to the elders of Sakusai Village who actively participated in evening adult education tuitions.
    
    Over 50 individuals joined us on this transformative journey, contributing to the resounding success of the project. They immersed themselves in the practice of meditation, exploring the depths of inner peace and wisdom. To further nourish their spirits, refreshments were provided, fostering a sense of community and connection.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions. Your presence and dedication have played an integral role in making this endeavor a remarkable success.
    
    🙌🙌 Keep embracing the path of love and wisdom!    
</p>

<h3>Project 24:  Empowering Angels</h3>
<p>
    <img id="row" src="assets\PROJECT 24\P24.jpg" alt="">
    <img id="row" src="assets\PROJECT 24\P24.1.jpg" alt="">
    Nurturing Lives and Spreading Love 🌟✨
    
    We are thrilled to announce the successful completion of our 24th project, Empowering Angels, which took place on the 24th of May 2023. With the unwavering support of the Interconnected Team and friends, we embarked on a mission to make a lasting impact in the lives of the children at Asha Kiran Orphanage.
    
    During this heartfelt endeavor, we provided the children with essential items including sanitary pads, honey, Tata glucose, cake, drawing copies, and colors. Witnessing the joy and smiles on their faces filled our hearts with immense gratitude and blessings. Together, we danced, sang, and created cherished memories.
    
    Empowering Angels reminds us that it is through giving that we truly receive. Let us join hands and continue to spread kindness in our day-to-day lives, ensuring that no child ever feels like an orphan. 
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions.
    
    This project also marks our first interstate endeavor, signifying the beginning of something new and beautiful. Let us continue to nurture lives, spread love, and create a world where every child feels cherished and supported.
    
    🙌 Let love and kindness guide our journey forward!    
</p>

<h3>Project 25:  Project Vidya</h3>
<p>
    <img id="row" src="assets\PROJECT 25\P25.jpg" alt="">
    <img id="row" src="assets\PROJECT 25\P25.1.jpg" alt="">
    Empowering Education for Brighter Futures 📚✨
    
    We are thrilled to announce the successful completion of our 25th project, Project Vidya, which took place on the 4th of July 2023. With the invaluable support of the Interconnected Team and friends, we came together to create a transformative experience for the children involved.
    
    During this meaningful endeavor, the children were provided with refreshments, charts, a creative board, and a bookshelf. These resources aimed to enhance their learning journey, foster creativity, and provide them with a conducive environment to thrive academically.
    
    We extend our heartfelt gratitude to every soul involved in this project for your unwavering support and contributions.
    
    Project Vidya stands as a testament to our commitment to empowering education and paving the way for brighter futures. Through your collective efforts, we are nurturing young minds, instilling a love for learning, and empowering the next generation.
    
    🙌 Thank you for being a part of this incredible journey of education and empowerment!   
</p>

<h3>Project 26: Introducing Khichri Bhog</h3>
<p>
    <img id="row" src="assets\PROJECT 26\P26.jpg" alt="">
    <img id="row" src="assets\PROJECT 26\P26.1.jpg" alt="">
    Nourishing Hearts and Celebrating Unity 🍲✨
    
    We are overjoyed to announce the successful completion of our 26th project, Khichri Bhog, which coincided with InterConnected's 1st Anniversary. With deep gratitude, we extend our heartfelt thanks to everyone who came together to make this event a memorable success.
    
    Under the blessings of God and with the unwavering support of our dedicated team and friends, on 8th July 2023, we distributed Khichri Bhog to 100 people at Tara Mandir, Chaibasa. This nourishing meal not only provided physical sustenance but also symbolized the unity and togetherness that lies at the core of InterConnected's mission.
    
    We extend our sincerest appreciation to every soul involved in this project for your selflessness and unwavering support. Your contributions and efforts have made a meaningful impact on the lives of those we serve.
    
    May the spirit of unity, gratitude, and compassion continue to guide us on this beautiful journey of service.
    
    🙌 Thank you for being a part of our celebration and for embodying the spirit of InterConnected.   
</p>
</div>

<app-footer></app-footer>
