<div class="footer">
        <div>
          <div >
            <img src="/interconnected_logo.jpg" alt=""  />
            <div >
              <!-- {/* <b>Address:</b>To be filled<br/> */}
              {/* <br/> */} -->
              <b id="text1">Email:</b><a href="mailto: interconnected108@gmail.com"> interconnected108@gmail.com</a><br/>
              <b id="text1">Mobile: +916203395386</b> 
            </div>
        
        <div >
        <span>
                <a
                  href="https://www.facebook.com/profile.php?id=100089917091110&mibextid=ZbWKwL"
                  target="_blank"
                  rel="noreferrer noopener"
                >
            <img src="assets/social-media-logos/facebook.png" alt=""  />
                </a>
               </span>

               <span >
                <a
                  href="https://instagram.com/_inter_connected_108?igshid=ZDc4ODBmNjlmNQ=="
                  target="_blank"
                  rel="noreferrer noopener"
                >
            <img src="assets/social-media-logos/Instagram.png" alt=""/>
                </a>
               </span>

               <span >
                <a
                  href="https://twitter.com/Interconne108?t=C-RpBky_iFnqAE7A90Jgbw&s=09"
                  target="_blank"
                  rel="noreferrer noopener"
                >
            <img src="assets/social-media-logos/twitter.png" alt="" />
                </a>
               </span>

               <span >
                <a
                  href="https://chat.whatsapp.com/Lsf13aeYuC275g2qoGyTrg"
                  target="_blank"
                  rel="noreferrer noopener"
                >
            <img src="assets/social-media-logos/whatsapp.png" alt=""  />
                </a>
               </span>

               <span>
                <a
                  href="https://www.linkedin.com/in/inter-connected-9a998a271"
                  target="_blank"
                  rel="noreferrer noopener"
                >
            <img src="assets/social-media-logos/linkedin.png" alt=""  />
                </a>
               </span>
        </div>
            <div >
              <span >
                <a
                  href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                 with 💛 by Lala
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>