<app-home-carousel></app-home-carousel>

<div class="center-content" id="about">
<p ><b>About Us</b></p>
<p>
Bridging Hearts, Changing Lives: The Birth of InterConnected
  <br />
  Once upon a time, in the warm glow of an evening, a simple conversation sparked a profound realization. It was during this ordinary moment that the seeds of InterConnected were sown, rooted in the profound words of a young girl.
As the sun began its descent, I found myself engaged in a casual conversation with the daughter of my housemaid. Curiosity led me to ask her a question that held the potential to shape her dreams. I inquired about her aspirations for the future, and without hesitation, she replied, <b>I want to be a doctor.</b>
  <br />
  InterConnected emerged as a platform, a gathering place for young individuals eager to extend their hands and hearts towards children and women in need. It became a testament to the belief that unity, empathy, and collective action could bring about transformative change in the lives of the marginalized.
Together, we vowed to stand as a force of compassion, striving to bridge the gaps and alleviate the hardships faced by those less fortunate. Through InterConnected, we sought to create a network of individuals driven by the simple but profound principle that giving is not limited by one&apos;s own circumstances, but rather, it expands our own sense of abundance.
So, dear friends, let us embark on this journey together, guided by the spirit of that young girl&apos;s dream. Let us weave our stories together, forming a tapestry of compassion, resilience, and hope. With each act of kindness, each shared resource, and each outstretched hand, we can make a lasting impact on the lives of those in need.
The story of InterConnected is one that reminds us of the boundless potential within each of us to create positive change. May it serve as a beacon of inspiration, igniting the hearts of all who come across its path. Together, let us stand united and make every moment count.
And so, <b>the journey begins...</b> 
</p>

<!-- <div class="counter">1234</div>  -->
</div>
<!-- <div class="image-container">
  <img class="move-to-left" src="assets/qr_mock_phone.jpg" alt="">
  <img class="move-to-right" src="assets/interconnected_qrCode.jpg" alt="">
</div> -->
<div class="footer-container">
  <app-footer></app-footer>
</div>